# R files
*.Rdata
*.Rhistory

# General data files
*.csv
*.txt
*.sqlite
*.db
# Specific data files
/workflow/Vagrant_box_MOOCs/terrorcs

# Visuals
*.pdf
*.png
*.jpg

# Python
*.ipynb_checkpoints/

# html
*.html

# VM
/workflow/Vagrant_box_MOOCs/.vagrant/
